<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/friends">
   <%= image_tag "logo.png" %>
  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if user_signed_in? %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item active">
              <p class="nav-link"><%= current_user.email %></p>
            </li>
            <li class="nav-item active">
              <a class="nav-link"<%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Messages</a>
            </li>
            <li class="nav-item dropdown">
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://avatars.githubusercontent.com/u/2978876?u=d018188079ab8ae8dc4bdac60ca40dea4cccbb0f&v=4" />
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Notifications</a>
                <a class="dropdown-item" href="#">Settings</a>
              </div>
            </li>
            <!--li class="nav-item"-->
            <!--/li-->
        </ul>
      </div>
    <% else %>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/users/sign_in">Want to make some friends? <strong>Sign in</strong></a>
            </li>
            <!--li class="nav-item"-->
            <!--/li-->
        </ul>
      </div>
    <% end %>
  </div>
</div>
