.card-category {
    background-size: cover;
    background-position: center;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  .friend-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 4px 4px 8px 4px rgba(231, 129, 13, 0.3);
    transition: 0.3s;
    box-sizing: border-box;
    border-radius: 5px;
    img{
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      width: 100%;
    }
  }

.friend-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

  /* Add some padding inside the card container */
  .index-cards {
    display: grid;
    justify-content: space-between;
    padding: 2px 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 36px;
  }

.friends_index_cards {
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-category:hover {
  color: #ff914d;
  transition: 0.5s transform ease-in-out;
  transform: scale(1.03);
}

.friend-info {
  text-align: left;
  padding: 10px;
  color: grey;
  font-weight: 500;
}
.index-cards a {
  text-decoration: none;
}

.index-cards a:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  color: black;
}

.h3 {
  font-family: Arial, Helvetica, sans-serif;
}

/*==================== BOOKING FORM CARD ====================*/

.booking-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  
}

  /* Add some padding inside the card container */
  .booking-cards {
    display: grid;
    justify-content: space-between;
    padding: 2px 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 36px;
    
  }